*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
.container{
	width:100%;
	height:560vh;
	border:2px solid black;
}
.div1{
	background-image: url('pexel.jpeg');
	width:100%;
	height:700px;
	background-attachment:fixed;
	background-size:100% 100%;
	background-repeat:no-repeat;
	position:relative;
	color:white;
	background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('pexel.jpeg');
}
a{
	color:white;

}
.nav-bar {
	
	height:10vh;
	width:100%;
		position:sticky;
		top:0px;
	
}


.nav-bar ul  {
float:right;
color:white;
margin-left:50px;

}
.nav-bar ul li{

float:left;
margin-right:100px;
margin-top:40px;
font-size:25px;
}
a:hover{
	color:yellow;
	font-size:60px;
}
.div1 h1{
	margin-top:220px;
	margin-left:32%;
	font-size:50px;
}
.div1 p{
	margin-top:20px;
	margin-left:32%;
	font-size:20px;
}
.btn{
	padding:15px;
	background:transparent;
	border:2px solid white;
	margin-top:40px;
	margin-left:42%;
	color:white;
	font-size:20px;
}
.btn:hover{
	background:aqua;
	color:black;
}
.services{
	
	height:100vh;
	width:100%;
	
}
.services h2{
	margin-top:50px;
	margin-left:40%;
	font-size:50px;
}
.services p{
	margin-top:30px;
	margin-left:33%;
	font-size:20px;
}
.lorem{
	border:2px solid grey;
	width:23%;
	height:30vh;
	margin-left:80px;
	margin-top:50px;
	float:left;
}
.lorem h2{
	font-size:20px;
	text-align:center;
	margin-left:10px;
	margin-top:40px;
}
.lorem p{
	font-size:15px;
	text-align:center;
	margin-left:10px;
}
.icon{
	background-color:green;
	border-radius:50%;
	width:60px;
	height:60px;
	text-align:center;
	color:white;
	padding:2%;
	margin-left:145px;
	margin-top:-20px;
	font-size:40px;
	
	
}
.icon:hover{
	background-color:yellow;
}
.lorem:hover{
	box-shadow: 5px 10px 10px 10px grey;
}
.lorem:hover{
	border:2px solid red;
}
.about{
	
	width:35%;
	height:40vh;
	margin-top:50px;
	margin-left:70px;
}
.about p{
	margin-top:30px;
}
.img{
	background-image:url('capture.png');
	height:40vh;
	width:70vh;
	background-size:100% 100%;
	float:right;
	margin-top:-40vh;
	margin-right:30vh;
}
.port{
	
	width:100%;
	height:170vh;
	
}
.port h1{
	margin-top:40px;
	margin-left:40%;
}
.port p{
	margin-top:20px;
	margin-left:36%;
	color:grey;
}
.immg{
	width:25%;
	height:35vh;
	background-image:url('p-one.jpg');
	background-size:100% 100%;
	margin-left:60px;
	margin-top:80px;
	float:left;
}
.immg1{
	width:25%;
	height:35vh;
	background-image:url('p-two.jpg');
	background-size:100% 100%;
	margin-left:60px;
	margin-top:80px;
	float:left;
}
.immg2{
	width:25%;
	height:35vh;
	background-image:url('p-three.jpg');
	background-size:100% 100%;
	margin-left:60px;
	margin-top:80px;
	float:left;
}
.immg3{
	width:25%;
	height:35vh;
	background-image:url('p-four.jpg');
	background-size:100% 100%;
	margin-left:60px;
	margin-top:80px;
	float:left;
}
.immg4{
	width:25%;
	height:35vh;
	background-image:url('p-five.jpg');
	background-size:100% 100%;
	margin-left:60px;
	margin-top:80px;
	float:left;
}
.immg5{
	width:25%;
	height:35vh;
	background-image:url('p-six.jpg');
	background-size:100% 100%;
	margin-left:60px;
	margin-top:80px;
	float:left;
}
.client{
	background-image:url('my.jpg');
	height:40vh;
	width:100%;
	background-size:100% 100%;
	background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url('my.jpg');
    padding:1px; 
}
.client h2{
	color:white;
	font-size:40px;
	margin-left:30%;
	margin-top:50px;
	
}
.client p{
	color:white;
	
	margin-left:25%;
	margin-top:40px;
}
.get{
	height:75vh;
	width:100%;
	margin-top:20px;
	
}
.get h1{
	margin-left:38%;
	margin-top:50px;
}
.contact{
	border-right:2px solid grey;
	height:50vh;
	width:30%;
	padding:1px;
	margin-top:13.5vh;
	margin-left:20vh;
	float:left;
}
.contact h2{
	margin-left:50px;
	margin-top:20px;
}
.address{
	width:100%;
	height:10vh;
		margin-top:20px;
		color:grey;
}
.num{
	width:100%;
	height:10vh;
		margin-top:20px;
		color:grey;
}
.email{
	width:100%;
	height:10vh;
		margin-top:20px;
		color:grey;
}
.address p{
	margin-left:20px;
	word-spacing:2px;
}
.num p{
	margin-left:20px;
	}
.email p{
	margin-left:20px;
}

.send{
	
	width:30%;
	height:20vh;
	margin-left:30%;
	margin-top:8%;
	
}
.footer{
	width:100%;
	height:25.5vh;
	background-color:black;
	color:white;
}
.footer h3{
	margin-top:3.5%;
	margin-left:35%;
}
.footer i{
	margin-top:3%;
	margin-left:18%;
}